START_WITHOUT_PROXIES=false
COUNTRY_CODE=US
TOKEN_FILE=./token.json
# get these two yourself or use token.json values - if you don't have any there's a tutorial that requires cert pinning
CLIENT_ID=
CLIENT_SECRET=
# rest is optional
REFRESH_TOKEN=
USER_ID=

# authentication
# if auth_enabled is false on first start, no database is created
AUTH_ENABLED=false
AUTH_DB_PATH=./auth.sqlite
AUTH_SESSION_TTL=2592000
# set this to a string you will use to redeem in the system
AUTH_BOOTSTRAP_INVITE=change_me
